<div class="jumbotron mt-4">
  <h1 class="display-4">All Posts</h1>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Create post</a>
  </p>
</div>
<ul>
  <% @posts.each do |post| %>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= post.title %></h5>
        <!--<h6 class="card-subtitle mb-2 text-muted"></h6>-->
        <p class="card-text"><%= post.content %></p>
        <a href="#" class="card-link">Read More</a>
        <a href="#" class="card-link">Edit</a>
      </div>
    </div>
  <% end %>
</ul>