<div class="jumbotron">
  <h1 class="display-4 text-center">404</h1>
  <p class="lead text-center">Sorry, an error has occured, Requested page not found !</p>
  <hr class="my-4">
  <p class="lead text-center">
    <%= link_to 'Go home', root_path, class: 'btn btn-primary' %>
  </p>
</div>